text {
  font: bold 20px monospace;
}
.enter {
  fill: green;
}
.update {
  fill: #333;
}

#pievizdiv{
  width:500px;

}
#textclouddiv{
  width: 500px;

}
#listvizdiv{
  width: 960px;


}
      #barchart div {
        font-size: 0.5em;
        font-family: sans-serif;

        color: white;
        background-color: steelblue;

        text-align: right;
        padding: 0.5em;
        margin: 0.2em;
      }
