body{
  background-color: Black;
}

.grad{
  text-align: center;
  margin-top: 5%;
  display: table;
  margin: 0 auto;
  font-family: "Roboto Slab";
  font-weight: 400;

  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 65px;
}

/*Icon style*/
.fa{
    display:inline-block;
    font-size: 40px;
    line-height: 50px;
    background-color:transparent;
    color:transparent;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: bottom;
}



h1 {
    text-align: center;
    font-size: 4em;
    color: White;
}


h2 {
    text-align: center;
    display: table;
    color:white;
    width:100%;

}

/*test class to see all the outlines of things ***this is for testing layout****/
.testoutline{
     border-style: transparent;
    /*border-width: 2px;*/
    border-color: transparent;
   /*margin: 7px;*/
}


text {
  font: bold 20px monospace;
}
.enter {
  fill: green;
}
.update {
  fill: #333;
}

#pievizdiv{
  width:100%;

}
#textclouddiv{
  width: 100%;

}


#title{
     border-style: solid;
    border-width: 2px;
    border-color: white;
   margin: 7px;
}

#listvizdiv{
  width: 100%;
  color:white;
}

#barchart div {
  font-size: 0.5em;
  font-family: sans-serif;

  color: white;
  background-color: steelblue;

  text-align: right;
  padding: 0.5em;
  margins: 0.2em;
}

/*div inline*/
i{
display: inline-block;
align-content: center;
}













