body{
  background-color: purple;
}

.grad{
  text-align: center;
  margin-top: 5%;
  display: table;
  margin: 0 auto;
  font-family: "Roboto Slab";
  font-weight: 400;

  background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 65px;
}

h1 {
    text-align: center;
  font-size: 4em;
}


h2 {
    text-align: center;
      display: table;

}

/*test class to see all the outlines of things*/
.testoutline{
     border-style: dotted;
    /*border-width: 2px;*/
    border-color: green;
   /*margin: 7px;*/
}


text {
  font: bold 20px monospace;
}
.enter {
  fill: green;
}
.update {
  fill: #333;
}

#pievizdiv{
  width:100%;

}
#textclouddiv{
  width: 100%;

}


#title{
     border-style: solid;
    border-width: 2px;
    border-color: white;
   margin: 7px;
}

#listvizdiv{
  width: 100%;
}

#barchart div {
  font-size: 0.5em;
  font-family: sans-serif;

  color: white;
  background-color: steelblue;

  text-align: right;
  padding: 0.5em;
  margins: 0.2em;
}

/*div inline*/
i{
display: inline-block;
}













